<div class = "about">
	<div class="about_img1 paraimg">

		
	</div>

	<div class = "about_content">
		<h1>Sushi Lover</h1>
	</div>
	<div class="about_img2 paraimg">

		
	</div>
	<div class = "about_content">
		<h1>Student</h1>
	</div>
	<div class="about_img3 paraimg">

		
	</div>
	<div class = "about_content">
		<h1>Brother</h1>
	</div>
	<div class="about_img4 paraimg">

		
	</div>
	<div class = "about_content">
		<h1>Vermonter</h1>
	</div>
</div>