<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
  <p>
	  <%= flash[:notice] unless flash[:notice].blank? %>
	  <%= flash[:error] unless flash[:error].blank? %>
  </p>
</div>

<%= debug controller.session %>