body{
	top:0;
}
#top-bar{
	width: 100%;
	height: 60px;
	background: #111;
	position: fixed;
}
#top-menu{
	position: relative;
	width: 340px;
	height: 60px;
	list-style: none;
	text-align: center;
	background: #111;
	margin: 0 auto;
    overflow: hidden;
}
.menu-item{
	float:left;
	display:block;
	width: 70px;
	height: 60px;
	padding-top: 18px;
}
.menu-item:hover{
	background: #4990E2;
}
.home{
	background: url('bg.png') no-repeat; 
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	padding: 15% 0%;
   /* z-index:-1;  Remove this line if it's not going to be a background! */
}
.home h1 a{
	font-size: 220%;
	color: white;
	/*font-family: ‘Helvetica Neue’, Helvetica; */
	font-weight: 100;
}
.name_container{
	width: 50%;
	padding: 20px;
	margin: 0 auto;
	background: black;
	background-color: rgba(0,0,0,0.7);
	border-radius: 15px;
	line-height: 2;
	margin-bottom: 80px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
}
.right{
	float: right;
	padding-right: 20px;
}
.arrow{
	height: 82px;
	width: 80px;
	background: url('downarrow.png') no-repeat;
	margin:0px auto;

}
.description{
	color: white;
	width: 420px;
	margin: 0px auto 40px auto;
	font-family: arial, Helvetica; 
	font-weight: 200;
}
#about{
	background: #fff;
}

.content{
	text-align: left;
	margin: 10px auto;
	width: 75%;
	height: 250px;
	padding-top: 2px;
}
.content h1{
	text-align: center;
	font-weight: 100;
	font-size: 50px;
	margin-top: 10px;
}
.content a{
	color: #4990E2;
}
/*.left-column{
	width: 20%;
	display: inline-block;
}*/
/*.left-column{
	height: 200px;
	width: 100%;

	display: inline-block;
}*/
.center-column{
	width: 550px;
	margin: 0 auto;
}
.right-column{
	width: 20%;
	display: inline-block;
}

.selected{
	background: #4990E2 ;
/*	#df4244;*/
}
.selected li{
	background: #4990E2 ;
/*	#df4244;*/
}
#FilterFly {
	width: 100%;
	height: 200px;
	background: #4990E2;

}
.logo {
	margin: 0px auto;
	padding-top: 30px;
	width: 533px;

}
.shopify{
	width: 100%;
	height: 200px;
	background: #fff;

}
.shopifyImg{
	margin: 0px auto;
	padding-top: 50px;
	width: 482px;

}
#cofc{
	width: 100%;
	height: 200px;
	background: #8C0C04;

}
.cofcImg{
	color: white;
	text-align: center; 
	margin: 0px auto;
	width: 630px;
/*	padding-top: 25px;*/
}
.cofcImg h1{
	font-family: 'Open Sans', sans-serif, 300, italic; /*caslon pro ;*/
	margin-top: 20px;
	font-size: 40px;

}
.cofcImg h3{
	margin: 10px 0 0 0;
	font-weight: 100;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif, 300, italic;

}
#skills{
	color: black;
	height: 430px;
	width: 100%;
	background: #fff;
	padding-top: 20px;
	
}
#list{
	width: 600px;
	margin: 0 auto;
	height: 200px;
	/*box-shadow: inset 0px 1px 2px rgba(0,0,0,0.9);*/
	padding-left: 70px;
	padding-top: 15px;
}
#skills h1{
	color: black;
	text-align: center;
	font-weight: 100;
	font-size: 50px;
	margin-bottom: 10px;

}
#skills table{
	height: 160px;
	list-style: none;
	float: left;
	width: 250px;

}
.rightTbl{
	margin-left: 30px;
}
.github{
	height: 31px;
	width: 162px;
	margin: 20px auto 0 auto;
	font-weight: 200;
}
#contact{
	height: 550px;
	width: 100%;
	background: #161616;
	/*url('contactBk.png') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; */ 
	text-align: center;
	color: white;
	padding-top: 20px;
}
#contact h1{
	font-weight: 100;
	font-size: 50px;
}
#contactForm{
	width: 520px;
	margin:0 auto;
	text-align: left;
	color: black;
	display: block;
}
#contactForm input{

	width: 280px;
	border: none;
	background: #333;
	height: 45px;
	display: inline-block;
	margin: 10px auto;
	padding: 10px;

}
#contactForm textarea{
	width: 280px;
	border: none;
	background: #333;
	min-height: 100px;
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
}
#contactForm label{
	display: inline-block;
	width: 70px;
	margin-right: 50px;
	margin-top: 25px;
	float: left;
	color: white;
	opacity: .9;
	font-weight: 100;
	letter-spacing: 1.5px;
}
#contactForm abbr{
	display: none;
}
#contactForm .contact_message input{
	height: 100px;
}
#contactForm .contact_message label{
	margin-top: 45px;
}
#contactForm .activeInput input{
	background: #4990E2;
	color: white;
}
#contactForm .activeInput textarea{
	background: #4990E2;
	color: white;
}
.submit{
	height: 45px;
	width: 100%;
	margin: 10px auto;
}
.submit input{
	width: 280px;
	height: 45px;
	font-size: 20px;
	letter-spacing: 2px;
	color: white;
	background: #4990E2; 
	margin: 15px auto;
	border: none;
}
.submit input:hover{
	background: #fff;
	color: #4990E2;

}
.input{
	margin: 15px auto 0 auto;

	display: inline-block;
}
#contactLabels{
	list-style-type: none;
}
.contact_message label{
	margin-top: 10px;
}
#footer{
	background: #111;
	width: 100%;
	height: 80px;
	
}
.email-link{
	margin-top: 30px;
	float: left;
	padding-left: 15%;
}
.email-link a{
	color: #666;
	margin-left: 15%;
	
}
.instagram{
	float:right;
	margin-right: 15%;
	margin-top: 20px;
}
.instagram img{
	height: 40px;
	width: 40px;
}



