body{
	
}

/* Topbar  */
.topbar{
	height:120px;
	background: white;
	top:0px;
	padding-top: 40px;
	
}

.left{
	
	text-align: center;

}
.middle{

}
.logo a{
	font-family: 'Open Sans', sans-serif;
	/* font-family: 'Yellowtail', cursive; */
	text-decoration: none;
	color: #383A3B;
	font-size: 17px;
	
}
.links{
	text-align: center;
	margin: 0px auto 0px auto;
	
}
.links li{
	text-decoration: none;
	list-style-type: none;
	text-align: center;
}
.links a{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-decoration: none;
	color: #383A3B;
	margin: 0px 25px;
}
.right{
	text-align: center;
	

}
.right a{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-decoration: none;
	color: #E88F0C;

}

@media (min-width: 320px) and (max-width: 568px) {
  .links ul{
    display:none;
}
}
@media (min-width: 568px) {
  .links select, #menu button{
    display: none;
}
}

/* Topbar */


/* Home */
.home{
	font-family: 'Yellowtail', cursive;

}
.home a{
	text-decoration: none;
}
.box{
	background: url('/assets/images/code.png'); /*! #565656 !*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover ;
	height: 250px;
	border-top: white 4px;
	margin: 20px auto;
	box-shadow: inset 0px 5px 8px  #000;/*! #424242 !*/
}
.box h2 b{
	color:#e24e42;
}
.pic h3{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;
	background-color: #565656;
  	color: transparent;
 	text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text; 
}
.pic img{
	margin: 40px auto 20px auto;
	display: block;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
	width: 350px;
	height: 200px;
}
.paraimg{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover ;
	text-align: center;
	color:#fff;
	font-size: 400%;
	text-shadow: 0px 0px 21px rgba(0, 0, 0, 1);

}
.paraimg h1{
	margin-top: 0;
	color:#fff;
	font-size: 200%;
	display: table-cell;
	vertical-align: middle;
	text-shadow: 0px 0px 21px rgba(0, 0, 0, 1);
}
.content h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	text-decoration: none;
	color: #fff4e8;
	text-align: center;

	background-color: #565656;
  	color: transparent;
 	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text; 
}
.con h2{

	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;
	color: #a9a9a9;
}
/* Home */





/* About */
.parapic{
	
	background-image: url("IMG_1091.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain ;
	height: 400px;
	
}
.about{
	
}
.about_img1{
	background-image: url('<%= asset_path("sushi.jpg) %> ');
	opacity: .85;
	height: 1000px;
}
.about_img2{
	background-image: url("IMG_0086.jpg");
	height: 1000px;
}
.about_img3{
	background-image: url("IMG_0329.jpg");

	height: 1000px;
}
.about_img4{
	background-image: url("IMG_3628.jpg");

	height: 1000px;
}

.about_content{
	min-height: 600px;
	
}
.about_content h1{
	text-align: center;
	font-size: 80px;
}

/* About */





/* Adventures Page */
.context ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
.context ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
.context ul li img {
	display: block;
	width: 100px;
	height: 75px;
}

#overlay{
	 background:rgba(0,0,0,.7);
	 width: 100%;
	 height:100%;
	 position: absolute;
	 top:0;
	 left: 0;
	 display:none;
	 text-align:center;
}
#overlay img{
 	margin-top:20%;
 	height:500px;
	width: 600px;
  
}
/* Adventures Page */


/* Footer */
footer{
	text-align: center;
	margin-top: 40px;
}
/* Footer */